@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrera";
}

<h2 class="text-center abrilFont mt-5 mb-4">Samla dina vänner och börja hjälpas åt!</h2>
<p class="text-center mb-5">
    It takes a village vet hur tufft det är att få ihop tillvaron under småbarnsåren,<br />
    så låt oss börja hjälpas åt! Hos oss kan du skapa en grupp med personer där<br />
    ni kan hjälpas åt med allt från matlag,lekträffar, barnpassning till att göra<br />
    större inköp ihop och låna verktyg av varandra.
</p>

<div class="row pinkBgColor register">
    <div class="d-flex flex-column flex-lg-row">
        <div class="col">
            <img id="registerImg" src="~/img/together.jpg" />
        </div>
        <div class="col">
            <form id="registerForm" class="w-75 py-5  mx-auto" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h5 class="abrilFont">Registrera dig idag för att komma igång</h5>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mt-3 mb-3">
                    <input asp-for="Input.FirstName" class="form-control bg-transparent" aria-required="true" placeholder="Ange förnamn" />
                    <label asp-for="Input.FirstName"></label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.LastName" class="form-control bg-transparent" aria-required="true" placeholder="Ange efternamn" />
                    <label asp-for="Input.LastName"></label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control bg-transparent" autocomplete="username" aria-required="true" placeholder="namn@exempel.com" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control bg-transparent" autocomplete="new-password" aria-required="true" placeholder="lösenord" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-4">
                    <input asp-for="Input.ConfirmPassword" class="form-control bg-transparent" autocomplete="new-password" aria-required="true" placeholder="lösenord" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg pinkBgColor">Registrera</button>
            </form>
        </div>
    </div>
</div>
<partial name="_FooterQuote" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
