
<p class="fw-bold">När?
    <span class="fw-light"> @Model.DateTime.ToString("g")</span>
</p>
<p class="fw-bold">Var?
    <span class="fw-light"> @Model.Location</span>
</p>
<p class="fw-bold">Vad bjuds det på?
    <span class="fw-light"> @Model.Course</span>
</p>
@if(@Model.Message != null)
{
    <p class="fw-bold">
        Meddelande: 
        <span class="fw-light"> @Model.Message</span>
    </p> 
}