<div class="row d-flex m-5">
    <blockquote class="blockquote">
        <h2 class="text-center abrilFont">"It takes a village to raise a child"</h2>
        <footer class="blockquote-footer text-center mt-1">Afrikanskt ordspråk</footer>
    </blockquote>
</div>
