@model List<ItTakesAVillage.Models.Group>
@using ItTakesAVillage.Contracts
@inject IGroupService _groupService

<div class="container w-75  mb-4">

    <h4 class="abrilFont mb-4">Mina grupper</h4>
    <div class="accordion" id="notification-accordion">
        @foreach (var group in Model)
        {
            <div class="accordion-item border-0">
                <h2 class="accordion-header" id="heading_@group.Id">
                    <button class="accordion-button collapsed "
                            type="submit"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapse_@group.Id"
                            aria-expanded="false"
                            aria-controls="collapse_@group.Id">
                        <i class="bi bi-circle-fill pinkFontColor p-2"></i>
                        <span class="fw-bold">@group.Name</span>
                    </button>
                </h2>

                <div id="collapse_@group.Id" class="accordion-collapse collapse " aria-labelledby="heading_@group.Id" data-bs-parent="#notification-accordion">
                    <div class="accordion-body">
                        @{
                            var members = await _groupService.GetMembers(group.Id);
                        }
                        @foreach (var member in members)
                        {
                            if (member != null)
                            {
                                <div class="container">
                                    <p>@member.FirstName @member.LastName<p />
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>