@page
@model ItTakesAVillage.Pages.GroupModel
@{

}

@if (Model.CurrentUser != null)
{
    <form method="post" asp-page-handler="NewGroup">
        <label>Ange namn på grupp</label>
        <input asp-for="NewGroup.Name" />

        <input type="submit" class="btn btn-primary" value="Spara" />
    </form>
}


