@page
@using ItTakesAVillage.Contracts
@inject IGroupService _groupService
@model ItTakesAVillage.Pages.GroupModel

@if (Model.CurrentUser != null)
{
    <h2 class="text-center abrilFont m-5">Samla dina vänner och börja hjälpas åt!</h2>

    @if (Model.GroupsOfCurrentUser != null && Model.GroupsOfCurrentUser.Any())
    {
        await Html.RenderPartialAsync("_MemberPartial", Model.GroupsOfCurrentUser);
    }
    <div class="greenBgColor py-5">
        <div class="container w-75">
            <h4 class="mt-2 mb-5 abrilFont">Kom igång idag och skapa en grupp!</h4>
            <form method="post" asp-page-handler="NewGroup">
                @* TODO: Toast eller alert när det inte går att spara eller har sparats *@
                <h5 class="abrilFont d-block">Ange gruppens namn</h5>
                <input required
                       class="form-control bg-transparent w-50"
                       placeholder="Ange gruppnamn"
                       asp-for="NewGroup.Name" />
                <input type="submit" class="btn my-2 pinkBgColor fw-bold" value="Spara" />
            </form>

            @if (Model.GroupsOfCurrentUser != null && Model.GroupsOfCurrentUser.Any())
            {
                <form method="post" asp-page-handler="AddUserToGroup">
                    <h5 class="abrilFont mt-3">Lägg till medlem i grupp</h5>
                    <div class="d-flex w-50 gap-2">
                        @* TODO: Toast eller alert när det inte går att spara eller har sparats *@
                        <select id="selectList1" class="form-control col bg-transparent" asp-for="NewUserGroup.GroupId" asp-items="ViewBag.GroupId" required>
                            <option disabled selected>Välj grupp</option>
                        </select>
                        <select id="selectList2" class="form-control col bg-transparent inline-block" asp-for="NewUserGroup.UserId" asp-items="ViewBag.UserId" required>
                            <option disabled selected>Välj medlem</option>
                        </select>
                    </div>
                    <input type="submit" class="btn pinkBgColor my-2 fw-bold" value="Spara" />
                </form>
            }
        </div>
    </div>
    <partial name="Shared/_FooterQuote" />
}