

@page
@model ItTakesAVillage.Pages.GroupModel
@{

}
@if (Model.CurrentUser != null)
{
    <div class="row d-flex m-5">
        <h2 class="text-center abrilFont">Samla dina vänner och börja hjälpas åt!</h2>
    </div>
    <div class="greenBgColor sourceSerifFont">
        <div class="m-4">
            <h4 class="my-4 abrilFont">Kom igång idag och skapa en grupp!</h4>
            <form class="m-1" method="post" asp-page-handler="NewGroup">
                <input required
                       class="form-control w-25 bg-transparent"
                       placeholder="Ange namn på grupp"
                       asp-for="NewGroup.Name" />
                <input type="submit" class="btn pinkBgColor my-2 fw-bold" value="Spara" />
            </form>
        </div>
        <div class="m-4">
            <h4 class="abrilFont">Mina grupper</h4>
            @foreach (var group in Model.GroupsOfCurrentUser)
            {
                <div class="accordion" id="notification-accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_@group.Id">
                            <button class="accordion-button collapsed greenBgColor"
                                    type="submit"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapse_@group.Id"
                                    aria-expanded="false"
                                    aria-controls="collapse_@group.Id">
                                <i class="bi bi-circle-fill pinkFontColor p-2"></i>
                                <span class="fw-bold">@group.Name</span>
                            </button>
                        </h2>

                        <div id="collapse_@group.Id" class="accordion-collapse collapse" aria-labelledby="heading_@group.Id" data-bs-parent="#notification-accordion">
                            <div class="accordion-body">
                                //TODO: Skapa en partialview för att visa gruppens medlemmar
                                @{
                                    
                                }
                                <p>Här visas alla medlemmar i gruppen</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.GroupsOfCurrentUser != null && Model.GroupsOfCurrentUser.Any())
        {
            <div class="m-4">
                <form method="post" asp-page-handler="AddUserToGroup">
                    <label class="form-label abrilFont">Lägg till medlem i grupp</label>
                    <select class="form-control w-25 bg-transparent" asp-for="NewUserGroup.GroupId" asp-items="ViewBag.GroupId" required>
                        <option disabled selected>Välj grupp</option>
                    </select>
                    <select class="form-control w-25 bg-transparent" asp-for="NewUserGroup.UserId" asp-items="ViewBag.UserId" required>
                        <option disabled selected>Välj medlem</option>
                    </select>
                    <input type="submit" class="btn pinkBgColor my-2" value="Spara" />
                </form>
            </div>
        }
    </div>
    <div class="row d-flex m-5">
        <blockquote class="blockquote">
            <h2 class="text-center abrilFont">"It takes a village to raise a child"</h2>
        <footer class="blockquote-footer text-center mt-1">Afrikanskt ordspråk</footer>
        </blockquote>
        
    </div>
}