@page
@model ItTakesAVillage.Pages.ToolPoolModel
@{
}
<div class="d-flex align-items-center flex-column">
    <img class="mx-auto eventImg" alt="wrench with pink background" src="img/tool.png" />
    <h2 class="abrilFont text-center mt-2 mb-5">Prylpool</h2>
</div>
<div class="pinkBgColor py-4 customColouredContainer d-flex align-items-center justify-content-center">
    <div class="container d-flex flex-column align-items-center">
        <h4 class="abrilFont text-center">Prylpool under uppbyggnad...</h4>

    </div>
</div>
<partial name="Shared/_FooterQuote" />

