@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Source+Serif+4:opsz@8..60&display=swap');
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    font-family: 'Abril Fatface', serif;
    font-family: 'Source Serif 4', serif;
}
.navbar-logo {
    max-width: 7rem;
}

.abrilFont {
    font-family: 'Abril Fatface', serif;
}
.sourceSerifFont {
    font-family: 'Abril Fatface', serif;
    font-family: 'Source Serif 4', serif;
}
.greenBgColor {
    background-color: rgba(173, 202, 179, 0.3);
}
.pinkFontColor {
    color: rgb(221, 172, 172, 0.3);
}
.pinkBgColor {
    background-color: rgb(221, 172, 172, 0.3);
}
.fontColor, input{
    color: rgb(23, 64, 56);
}

.blueBgColor {
    background-color: rgba(180, 210, 234,0.3);
}
#registerImg {
    max-height: 100% !important;
    max-width: 100%;
}
.custom-margin{
    margin-top: 5rem;
    margin-right:15rem;
    margin-left: 15rem;
}

a {
    color: rgb(23, 64, 56);
    text-decoration:none;
}
a:hover{
    color:gray;
    
}
.eventImg {
    height: 150px;
}

.custom-btn{
    min-width:12rem;
}
