name: Add Comment to Pull Request

on:
  pull_request:
    branches: [ "*" ]

jobs:
  add-comment:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Add comment to Pull Request
      run: |
        MESSAGE="Hello from your GitHub Actions Workflow!"
        PR_NUMBER=$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")
        
        # Använd inbyggd GitHub Actions login för att autentisera
        gh auth login --with-token "${{ secrets.PERSONAL_ACCESS_TOKEN }}"
        
        # Använd inbyggd GitHub Actions kommando för att kommentera
        gh api repos/${GITHUB_REPOSITORY}/issues/${PR_NUMBER}/comments -f body="$MESSAGE"
